.adminPageEdit{
    width: 100%;
    min-height: calc(100vh - 3rem);
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:2rem 0;
    overflow-x: hidden;
}

.adminEditPageForm{
    width:80%;
    height:auto;
    display:flex;
    align-items:center;
    flex-direction: column;
    gap:1.4rem;
}
input::placeholder {
    color: darkred;
  
  }
  input{
    border: .3px solid #c5c0c0;
  }

input[type=text],input[type=date],input:focus {
    outline:none;
    
  }
.adminEditPageForm .adminEditPageTitleInp{
    width:80%;
    height:2rem;
    font-size:1.2rem;
    color:darkred;
    padding:.6rem .4rem;
}

.adminEditPageForm .adminEditPageImgInp{
    width:80%;
    height:3.2rem;
    border:1px dashed gray;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto','sans-serif';
    padding: .8rem .5rem;
}
input[type="file"]::file-selector-button {
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    font-family: 'Roboto','sans-serif';
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    position: absolute;
    right: 1rem;
    bottom: .3rem;
}

.adminEditPageDateInp{
    width:80%;
    color:darkred;
    font-size:1rem;
    font-family:'Roboto','sans-serif';
    padding:.3rem;
}
.adminEditPageLocation{
    width:80%;
    color:darkred;
    font-size:1rem;
    font-family:'Roboto','sans-serif';
    padding:.3rem;
}
.adminEditPageForm .quill{
    width: 80%;
    font-size:1.2rem;
    color:darkred;
    border-radius:8px;
    outline:none;
  
}
.adminQuill{
    margin-bottom: 2rem;
}
.adminEditPageForm .adminEditPagebtn{
    padding: .6rem 1.3rem;
    border-radius: 4px;
    background: linear-gradient(120deg,darkred,rgba(139, 0, 0, 0.896));
    font-size: 1.2rem;
    color: white;
    font-family: 'Roboto','sans-serif';
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.adminEditPagebtn:hover{
    background: rgba(139, 0, 0, 0.889);
}






.adminEditPageCom{
    width: 90%;
    height: auto;
    margin: 1rem 0;
}
.adminEditPageHeading{
    font-size: 2.4rem;
    color: darkred;
    font-family: 'Roboto','sans-serif';
}
.adminEditPageRows{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    border: .3px solid #c5c0c0;
    padding: 2rem 1rem;
    margin: 1rem 0;

}
.adminEditPageRow{
    width: 95%;
    min-height: 5rem;
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.4rem;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    background: rgba(139, 0, 0, 0.94);
    animation: all 1.5s alternate  ease-in;
    padding: .6rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);    
    perspective: 1000;
}

.adminEditPageRow:hover{
    transform: scale(1.01);
}

.adminEditPageRow .adminEditPageImg{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.adminEditPageTitle{
 font-size: 1.3rem;
 color:white;
 font-family: 'Roboto','sans-serif';
}
.adminEditPageDate{
font-size: 1rem;
color: white;
font-weight: bold;
}
.adminEditPageDet{
    font-size: 1rem;
    font-family: 'Roboto','sans-serif';
    color: white;

}
.adminEditPageBtns{
    display: flex;
    gap: .6rem;
    justify-self: end;
    flex-direction: row;
    margin-left: auto;
    padding: 0 .5rem;
}

.adminEditPageIcon{
    font-size: 1.3rem;
    color: white;
}

.adminEditPageIcon:hover{
    color: lightcoral;
    cursor: pointer;
}

.noEditPage{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto','sans-serif';
}
.loading{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto','sans-serif';

}

