.adminPage{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: absolute;
}

.adminContainer{
    width: 100%;
    min-height:calc(100vh -3.4rem);
    max-height: auto;
    display: flex;
    gap: 1rem;
    position: absolute;
}