.houses-container{
    width: 100%;
    min-height: calc(100vh - 80px);
    max-height: auto;
    display: flex;
    background: linear-gradient(140deg,rgb(4, 71, 102),rgb(146, 202, 224));

}
.houses-container .houses-con-left{
    width: 30%;
    height: calc(100vh - 80px);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.houses-con-left .houses-form{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background: rgb(20, 176, 228);
    padding: 0.4rem;
    gap:1rem;
    border-radius: 8px;
}
.houses-form .form-heading{
  font-size: 2rem;
  color: gold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}


.form-row{
    display: flex;
    margin: 1.8rem 0;
    width:90%;
    
    
  }
  .houses-form .form-row .input-data{
    width: 50%;
    height: 30px;
    margin: 0 0.3rem;
    position: relative;
    
  }
  
  .input-data input{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    outline: none;
    border-radius: 4px;
    background: rgb(234, 234, 108);
    color: darkslateblue;
    
  }
  .input-data input:focus ~ label, 
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: rgb(7, 81, 111);
  }
  
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  .submit-btn{
    left: 0;
    padding:6px 8px;
    background-color:blue;
    border-radius:6px;

  }

  .submit-btn:hover{
    cursor:pointer;
    background-color:coral;
    transform:rotate(5deg);
  }
.houses-offer{
  width: 50%;
  height: 10rem;
  border-radius: 8px;
  background: gold;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.h1{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 91, 91);

}
.h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(14, 232, 14);
  font-size: 1.6rem;
}
.offer{
  font-size: 1.4rem;
  font-family: monospace;
  color: red;
}
.time{
  font-size: 1.3rem;
  color: rgb(9, 244, 248);
  font-family: sans-serif;

}






.houses-container .houses-con-right{
    width: 70%;
    min-height:100% ;
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.houses-con-right .houses-card-con{
    width: 100%;
    height:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    

}
.houses-card-con .houses-card{
  background-color: #3498db;
    width: 90%;
    height: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.houses-card-con .houses-img{
    width: 30%;
    height: 90%;
    border-radius: 8px;
}
.houses-img:hover{
    opacity:0.7;
}
.houses-name{
    font-size: 2rem;
    color: #056a3a;
    border-radius: 4px;
    padding: 4px;
}
.houses-detail{
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

}

.houses-rooms{
    font-size: 1.3rem;
    color:blue;
    font-family: serif;

}
.houses-price{
  color: red;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: sans-serif;
}
.houses-address{
  color:black;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}
.houses-moreDetail-btn{
  text-decoration: none;
    font-size: 1.1rem;
    background: gray;
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.houses-moreDetail-btn:hover{
    background: lightcoral;
    color: black;
}